<li id="todo-<%= to_do.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to to_do.user.name, to_do.user %></span>
  <span class="content"><%= to_do.content %></span>
</li>